<nav>
  <h1>LOGO</h1>
  <ul>
    <li><a href="<%= navlinks.link1  %>">
        <%= navlinks.link1 %>
      </a></li>
    <li><a href="<%= navlinks.link2  %>">
        <%= navlinks.link2 %>
      </a></li>
    <li><a href="<%= navlinks.link3  %>">
        <%= navlinks.link3 %>
      </a></li>
  </ul>
</nav>