<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CLASSES</title>
  <style>
    @import url("css/main.css");
    @import url("css/classes.css");
  </style>
</head>

<body>
  <%- include('../partials/header') %>

    <main>
      <h1>
        <%= title %>
      </h1>
      <p>
        <%= description %>
      </p>
      <div class="nav">
        <ul>
          <% locals.classes.forEach(_class => { %>
            <li><a href="/classes/<%= _class %>"><%= _class %></a></li>
          <% }) %>
        </ul>
      </div>
    </main>
</body>

</html>