<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HOME</title>
  <style>
    @import url("/css/main.css");
    @import url("/css/index.css");
  </style>
</head>

<body>
  <%- include('../partials/header') %>

    <main>
      <h1>
        <%= locals.title %>
      </h1>
      <p>
        <%= locals.description %>
      </p>
      <br>
      <button class="back" onclick="window.history.back()">Back</button>
      <br>
      <div class="nav">
        <ul>
          <% for( let i=0; i < modules.length; i++ ) { %>
            <li><a href="<%= _class %>/<%= modules[i]  %>">
                <%= modules[i] %>
              </a></li>
            <% } %>
        </ul>
      </div>
    </main>
</body>

</html>