<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STUDENTS</title>
    <style>
      @import url("css/main.css");
      @import url("css/students.css");
    </style>
  </head>
  <body>
    <nav>
      <h1>LOGO</h1>
      <ul>
        <li><a href="/"><%= navlinks.link1 %></a></li>
        <li><a href="<%= navlinks.link2  %>"><%= navlinks.link2 %></a></li>
        <li><a href="<%= navlinks.link3  %>"><%= navlinks.link3 %></a></li>
      </ul>
    </nav>

    <main>
      <h1><%= title %></h1>
      <p><%= description %></p>
      <form action="/student-registration" method="post">
        <h2>Student Registration</h2>
        <div class="formcheck">
          <label for="name"> Student's Name: </label>
          <input type="text" id="name" name="name" placeholder="Full Name" />
        </div>
        <div class="formcheck">
          <label for="registrationNumber"> Registration Number: </label>
          <input
            type="text"
            id="registrationNumber"
            name="registrationNumber"
            placeholder="Registration Number"
          />
        </div>
        <div class="formcheck">
          <label for="department"> Department: </label>
          <input
            type="text"
            id="department"
            name="department"
            placeholder="Department"
          />
        </div>
        <div class="formcheck">
          <label for="course"> Course: </label>
          <input type="text" id="course" name="course" placeholder="Course" />
        </div>
        <div class="formcheck">
          <label for="class"> Class: </label>
          <input type="text" id="class" name="className" placeholder="Class" />
        </div>
        <button type="submit">REGISTER</button>
      </form>
      <center class="students"></center>
    </main>
  </body>
</html>
